<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="contact_feet_sensors">
  <gazebo reference="fl_foot">
    <!-- Contact 센서 -->
    <sensor name="fl_foot_contact" type="contact">
      <always_on>true</always_on>
      <update_rate>200</update_rate>
      <contact>
        <collision>fl_foot_collision</collision> <!-- 해당 링크 안 collision 이름 -->
      </contact>
    </sensor>
    <plugin filename="libignition-gazebo-touchplugin-system.so"
          name="ignition::gazebo::systems::TouchPlugin">
      <namespace>fl_foot</namespace>
      <time>0.001</time>
      <enabled>true</enabled>
    </plugin>
  </gazebo>

  <gazebo reference="fr_foot">
    <sensor name="fr_foot_contact" type="contact">
      <always_on>true</always_on>
      <update_rate>200</update_rate>
      <contact>
        <collision>fr_foot_collision</collision>
      </contact>
    </sensor>
  </gazebo>

  <gazebo reference="rl_foot">
    <sensor name="rl_foot_contact" type="contact">
      <always_on>true</always_on>
      <update_rate>200</update_rate>
      <contact>
        <collision>rl_foot_collision</collision>
      </contact>
    </sensor>
  </gazebo>

  <gazebo reference="rr_foot">
    <sensor name="rr_foot_contact" type="contact">
      <always_on>true</always_on>
      <update_rate>200</update_rate>
      <contact>
        <collision>rr_foot_collision</collision>
      </contact>
    </sensor>
  </gazebo>


</robot>
